:root {
    --nav-width: 1380px;
    --article-width: 650px;
    --toc-width: 300px;
}

.toc.side {
    font-size: .8em;
}

@media screen and (min-width: 1350px) {
    .toc.side {
        position: fixed;
        top: 118px;
        z-index: 1;
        max-height: calc(100% - 150px);
        overflow: auto;
    }
    .toc.side::-webkit-scrollbar-thumb {
        border: 5px solid var(--code-bg);
    }
    .toc.side.left {
        left: 15px;
        width: 250px;
    }
    .toc.side.right {
        right: 15px;
        width: 265px;
    }
}
